<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base th:href="@{/}">
    <title>欢迎使易简云盘！</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/media/image/favicon.png"/>

    <!-- Plugin styles -->
    <link rel="stylesheet" href="vendors/bundle.css" type="text/css">

    <!-- App styles -->
    <link rel="stylesheet" href="assets/css/app.css" type="text/css">
    <style>
        #error1{
            color:red;
        }
    </style>
</head>
<body class="form-membership">

<!-- begin::preloader-->
<div class="preloader">
    <div class="preloader-icon"></div>
</div>
<!-- end::preloader -->

<div class="form-wrapper">

    <!-- logo -->
    <div id="logo">
        <img class="logo" src="assets/media/image/logo.png" alt="image">
        <!--<img class="logo-dark" src="assets/media/image/logo-dark.png" alt="image">-->
    </div>
    <!-- ./ logo -->

    <h5>欢迎登录易简网盘</h5>

    <!-- form -->
    <form action="/yunpan/dologin" method="post">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="请输入电话号码" required minlength="11" maxlength="11" autofocus name="tel">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="输入登录密码" required name="pwd">
        </div>
        <span th:text="${session.error} " id="error1" ></span>
        <div class="form-group d-flex justify-content-between">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" checked="" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">保存登录信息</label>
            </div>
            <a href="/yunpan/tochangepwd">修改密码</a>
        </div>
        <button class="btn btn-primary btn-block">登录</button>
        <hr>
        <p class="text-muted">用其它平台账号登录</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#" class="btn btn-floating btn-facebook">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="btn btn-floating btn-twitter">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="btn btn-floating btn-dribbble">
                    <i class="fa fa-dribbble"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="btn btn-floating btn-linkedin">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="btn btn-floating btn-google">
                    <i class="fa fa-google"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="btn btn-floating btn-behance">
                    <i class="fa fa-behance"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#" class="btn btn-floating btn-instagram">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
        </ul>
        <hr>
        <p class="text-muted">还没有账号?</p>
        <a href="/yunpan/toregister" class="btn btn-outline-light btn-sm">注册</a>
    </form>
    <!-- ./ form -->

</div>
<div style="text-align: center">Copyright&copy; by QuMingNanGroup</div>
<br>
<!-- Plugin scripts -->
<script src="vendors/bundle.js"></script>

<!-- App scripts -->
<script src="assets/js/app.js"></script>
</body>
</html>