<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base th:href="@{/}">
    <title>欢迎使易简云盘！</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/media/image/favicon.png"/>

    <!-- Plugin styles -->
    <link rel="stylesheet" href="vendors/bundle.css" type="text/css">

    <!-- App styles -->
    <link rel="stylesheet" href="assets/css/app.css" type="text/css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js "></script>
    <script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
    <script>
        function CheckForm() {
            var form = document.form1;
            if (form.pwd2.value === '') {
                alert("请输入密码");
                form.pwd2.focus();
                return false;
            }
        if (form.pwd.value === '') {
            alert("请再次输入密码!");
            form.pwd.focus();
            return false;
        }
        if (form.pwd2.value !== form.pwd.value) {
            alert("两次密码不一致!");
            form.pwd2.focus();
            return false;
        }
        form.Submit.value = "提交";
        form.Submit.disabled = true;
        form.submit();
        alert("修改成功");
        return true;
        }
    </script>
</head>
<body class="form-membership">

<!-- begin::preloader-->
<div class="preloader">
    <div class="preloader-icon"></div>
</div>
<!-- end::preloader -->

<div class="form-wrapper">

    <!-- logo -->
    <div id="logo">
        <img class="logo" src="assets/media/image/logo.png" alt="image">
        <img class="logo-dark" src="assets/media/image/logo-dark.png" alt="image">
    </div>
    <!-- ./ logo -->

    <h5>重置密码</h5>

    <!-- form -->
    <form action="/yunpan/dochangepwd" id="form1" name="form1">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="电话号码" required autofocus name="tel" id="tel" onblur="ajaxsubmit() ">
            <span id="state"></span>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="密码" required name="pwd2" id="pwd2">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="再次输入密码" required name="pwd" id="pwd">
        </div>
        <button class="btn btn-primary btn-block" id="Submit" onclick="return CheckForm();">提交</button>
        <hr>
        <p class="text-muted">切换状态</p>
        <a href="/yunpan/toregister" class="btn btn-sm btn-outline-light mr-1">注册</a>
        or
        <a href="/yunpan/tologin" class="btn btn-sm btn-outline-light ml-1">登录</a>
    </form>
    <!-- ./ form -->

</div>
<div style="text-align: center">Copyright&copy; by QuMingNanGroup</div>
<!-- Plugin scripts -->
<script src="vendors/bundle.js"></script>

<!-- App scripts -->
<script src="assets/js/app.js"></script>
<script>
    function ajaxsubmit() {
        $.post({
            url:"http://localhost:8080/yunpan/docheckuser",
            data:{"tel":$("#tel").val()},
            success:function (msg) {
                if(msg=="√"){
                    $("#state" ).html( "<font color= 'red'>电话号码不存在，请重新输入</font>");
                    $( "#submit" ).prop( "disabled",true);
                }
                else{
                    $("#state" ).html( "<font color= 'geeen'></font>");
                    $( "#submit" ).prop( "disabled",true) ;
                }
            }
        })
    }
</script>
</body>
</html>